@import "../omarchy/current/theme/waybar.css";

* {
  background-color: @background;
  color: @foreground;

  border: none;
  border-radius: 0;
  min-height: 0;
  font-family: FiraCode Nerd Font, monospace;
  font-size: 14px;
}

.modules-left {
  margin-left: 0px;
}

.modules-right {
  margin-right: 0px;
}

#cpu,
#battery,
#pulseaudio {
  min-width: 12px;
  margin: 0 10 0 10px;
}

#bluetooth {
  margin-right: 10px;
  margin-left: 15px;
}

#network {
  margin-right: 10px;
}

#custom-expand-icon {
  margin-right: 20px;
}

tooltip {
  background: rgba(43, 48, 59, 0.5);
  border: 1px solid white;
  border-radius: 8px;
}

#clock {
  margin-left: 8.75px;
}

.hidden {
  opacity: 0;
}

#taskbar button.active * {
  color: #61afef;
}

#taskbar * {
  margin: 0px -2px 0px 1px;
}
