@import "../omarchy/current/theme/waybar.css";

* {
  background-color: @background;
  color: @foreground;

  border: none;
  border-radius: 0;
  min-height: 0;
  font-family: FiraCode Nerd Font, monospace;
  font-size: 14px;
}

.modules-left {
  margin-left: 0px;
}

.modules-right {
  margin-right: 0px;
}

#battery,
#pulseaudio {
  min-width: 12px;
  margin: 0 10 0 10px;
}

#bluetooth {
  margin-right: 10px;
  margin-left: 15px;
}

#network {
  margin-right: 10px;
}

tooltip {
  background: rgba(43, 48, 59, 0.5);
  border: 1px solid white;
  border-radius: 8px;
}

#clock {
  margin-left: 5px;
}

.hidden {
  opacity: 0;
}

#taskbar button * {
  color: #606060;
}

#taskbar button.active * {
  color: #ef596f;
}


#custom-voxtype {
  min-width: 12px;
  margin: 0 0 0 7.5px;
}

#custom-voxtype.recording {
  color: #a55555;
}
